.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 102;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 103;
}
.modal ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}
.modal > *:not(.modal-backdrop) {
    z-index: 104;
}

.modal .modal-body {
    z-index: 105;
    position: relative;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    flex-direction: column;
    width: 100%;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

a,
[type="submit"] {
    transition: all 0.25s ease-in;
}
.modal input {
    outline: none;
    width: 100%;
}
.modal-container {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(-50%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.76);
}
.container-child {
    height: 100%;
    color: #fff;
}

h1,
h2 {
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}
.modal-form {
    width: 100%;
    padding: 2.5rem;
    background: #fafafa;
}
.form-group {
    padding: 12px;
}
.form-group .password-match {
    color: hsla(0, 94%, 48%, 1);
}
label {
    font-size: 0.85rem;
    text-transform: uppercase;
    color: hsla(196, 96%, 17%, 1);
    margin: 12px 0;
}
.form-control {
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}
.form-control:focus {
    border-color: #111;
}
.btn-form {
    padding: 0.5rem 2.5rem;
    font-size: 0.95rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: hsla(0, 85%, 66%, 1);
    cursor: pointer;
}
.btn-form:hover {
    transition: ease-in-out 0.5s;
    background-color: hsla(196, 96%, 17%, 1);
}

.modal-link {
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: underline;
    color: hsla(0, 0%, 75%, 1);
    cursor: pointer;
}
.modal-link:hover {
    transition: ease-in-out 0.5s;
    color: black;
}

@media (min-width: 768px) {
    .modal .modal-body {
        width: unset;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
