.card {
    width: 300px;
    height: 350px;
    margin: 24px;
    padding-bottom: 30px;
    background: #fefff9;
    color: #363636;
    text-decoration: none;
    box-shadow: black 0 0 8px 0;
    border-radius: 4px;
}
.card span {
    display: block;
}
.card .card-summary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 180px;
}
.card .card-summary div {
    margin: 6px 0;
}
.card .card-summary div p {
    font-size: 13px;
}

.card .card-summary span {
    font-weight: bold;
}
.card .card-summary button {
    width: 250px;
    height: 35px;
    margin: 12px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: hsla(0, 85%, 66%, 1);
    border: 0.5px hsla(0, 0%, 75%, 1);
    cursor: pointer;
}
.card .card-summary button:hover {
    transition: ease-in-out 0.5s;
    background-color: hsla(196, 96%, 17%, 1);
}
.card .card-header {
    position: relative;
    height: 175px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center;
    background-color: rgba(white, 0.15);
    background-blend-mode: overlay;
    border-radius: 4px 4px 0 0;
}
.card-title {
    background: hsla(202, 49%, 50%, 1);
    padding: 3.5% 0 2.5% 0;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 37px;
    overflow: hidden;
}

.card-title h3 {
    font-size: 0.9rem;
    line-height: 1.2;
    margin: 0;
}
img {
    max-width: 100%;
}
@media (max-width: 700px) {
    .card {
        width: 100%;
    }
}
